name: Build example project

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:

  example-project:

    strategy:
      matrix:
        include:
          - os: ubuntu-latest
          - os: macos-latest
          - os: windows-latest
            toolchain-suffix: -gnu
          - os: windows-latest
            toolchain-suffix: -msvc

    runs-on: ${{ matrix.os }}

    steps:
      - name: Clone Git repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable${{ matrix.toolchain-suffix }}

      - name: Install cargo-c applet
        run: |
          cargo install --path .

      - name: Test example project
        working-directory: example-project
        run: |
          cargo test --verbose

      - name: Build C API for example project
        working-directory: example-project
        run: |
          cargo cbuild --verbose --release

      - name: Run C API tests for example project
        working-directory: example-project
        run: |
          cargo ctest --verbose --release

      - name: Install into temporary location
        working-directory: example-project
        run: |
          cargo cinstall --verbose --release --destdir=temp

      - name: Copy installed files to /usr/local
        if: startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu')
        working-directory: example-project
        run: |
          sudo cp -r temp/usr/local/* /usr/local/

      - name: Test pkg-config
        if: startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu')
        run: |
          set -x
          test "$(pkg-config --cflags example_project)" = "-I/usr/local/include/example-project-0.1"
          test "$(pkg-config --libs example_project)" = "-L/usr/local/lib -lexample-project"

      - name: Update dynamic linker cache
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo ldconfig

      - name: Test usage from C (using Makefile)
        if: startsWith(matrix.os, 'macos') || startsWith(matrix.os, 'ubuntu')
        working-directory: example-project/usage-from-c
        run: |
          make

  example-project-msys2:

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Clone Git repository
        uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable-gnu


      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          install: >-
            make
            mingw-w64-x86_64-pkg-config

      # Stale rustc may not build
      #      mingw-w64-x86_64-rust
      #      mingw-w64-x86_64-cargo-c

      # NB: cargo-c is available from the package mingw-w64-x86_64-cargo-c
      # (https://packages.msys2.org/base/mingw-w64-cargo-c),
      # which is the recommended way to use cargo-c on MSYS2.
      # For testing purposes, we compile and install the latest version from the Git repo
      # (which takes much longer than installing the MSYS2 package!):

      - name: Install cargo-c applet
        run: |
          cargo install --path .

      - name: Install C API for example project
        working-directory: example-project
        run: |
          cargo cinstall --verbose --release --prefix /mingw64 --target x86_64-pc-windows-gnu

      - name: Test usage from C (using Makefile)
        working-directory: example-project/usage-from-c
        run: |
          make
