name: Rust

on: [push, pull_request]

jobs:

  rustfmt-clippy:

    name: Format and Clippy

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install rustfmt and clippy
        run: rustup component add rustfmt clippy

      - uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features

      - name: Run format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  Ubuntu-Nightly:

    name: Ubuntu-Nightly

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install grcov
        env:
          LINK: https://github.com/mozilla/grcov/releases/download
          GRCOV_VERSION: 0.5.15
        run: |
          curl -L "$LINK/v$GRCOV_VERSION/grcov-linux-x86_64.tar.bz2" |
          tar xj -C $HOME/.cargo/bin

      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Run cargo clean
        run: |
          cargo clean

      - name: Run tests
        env:
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: >
            -Zprofile -Ccodegen-units=1 -Clink-dead-code -Coverflow-checks=off
            -Cpanic=abort -Zpanic_abort_tests
          RUSTDOCFLAGS: >
            -Zprofile -Ccodegen-units=1 -Clink-dead-code -Coverflow-checks=off
            -Cpanic=abort -Zpanic_abort_tests
        run: |
          cargo test --all-features --no-fail-fast --verbose

      - name: Run grcov
        id: coverage
        uses: actions-rs/grcov@v0.1

      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ steps.coverage.outputs.report }}

  Ubuntu-Stable:

    name: Ubuntu-Stable

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  msvc-Nightly:

    name: msvc-Nightly

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --no-fail-fast

  msvc-Stable:

    name: msvc-Stable

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install stable
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

  mingw-Nightly:

    name: mingw-Nightly

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install nightly-gnu
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-gnu
          override: true

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --no-fail-fast
